<div class="post">
    <p class="post-name">{{postName}}</p>
    <p class="post-type">{{postType}}</p>
    <p class="post-author">{{postAuthor}}</p>
    <p class="post-date">{{postDate}}</p>
	<p class="post-data">{{postData}}</p>
</div>